/* Ignore following classes */

* {
    font-family: "Montserrat", sans-serif;
    background-color: #eeeeee;
  }
  
  #intro {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 50px;
  }

  #special {
      position: absolute
  }
  
  .insideborder {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .para {
    font-weight: 300;
    margin-left: 10px;
  }
  
  h2 {
    font-size: medium;
    font-weight: 200;
  }
  
  /* Classes that you might find useful */
  /* Note* These classes do not cover every possibloe case to build you flags, you will have to continue to add your own*/
  
  .flag {
    height: 300px;
    width: 500px;
    border-style: solid;
    margin-bottom: 5rem;
  }

  .box {
      display: flex;
      height: 298px;
      align-items: center;
      flex-direction: row;
      border-style: solid;
      margin-bottom: 5rem;
  }

  .specialbox {
      display: flex;
      height: 100px;
      width: 15%;
      flex-direction: row;
  }

  .special {
    display: flex;
    height: 100px;
    width: 5%;
    flex-direction: row;
  }
  
  .spec {
    display: flex;
    height: 80px;
    width: 100%;
    flex-direction: row;
  }
  .next {
    display: flex;
    height: 80px;
    width: 100%;
    flex-direction: column;
  }
  



.columns {
    flex-direction: col;
    height: 100px;
    width: 5%;
}

.row {
    flex-direction: row;
    height: 100px;
    width: 10%;
}
  
  .horiz {
    display: flex;
    flex-direction: row;
  }
  
  .twovert {
    height: 50%;
  }
  
  .threevert {
    height: 33.3%;
  }

  .fifteenvert {
    height: 15%
  }

  .fortyvert {
    height: 40%
  }

  
  .threehoriz {
    width: 33.3%;
  }
  
  .skinny {
    height: 17.5%;
  }
  
  .fat {
    height: 30%;
  }
  
  .circle {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: relative;
    left: 85px;
    top: 50px;
  }
  
  /* Colors/ Feel free to add your own! */
  
  .red {
    background-color: red;
  }
  
  .orange {
    background-color: orange;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  .lightblue {
    background-color: lightblue;
  }
  
  .purple {
    background-color: purple;
  }
  
  .white {
    background-color: #fff;
  }